.menu-label {
    margin-left: 100px;
    margin-right: 25px;
    font-size: 18px;
    font-weight: bold;
}

.menu {
    position: relative;
    display: inline-block;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    appearance: none;
    border: none;
    background: none;
}

.options {
    line-height: 49px;
    height: 69px;
    position: absolute;
    background-color: #901C1C;
    color: white;
    width: 190px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.hyde {
    opacity: 0;
    position: absolute;
    top: 0;
}

.view {
    opacity: 1;
}


.option {
    text-align: left;
    border-top: 2px solid white;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
}

.option:hover,
.option:focus {
    background-color: #DB8876;
    color: black;
}

#menu-button span {
    color: white;
    position: absolute;
    top: 25px;
    z-index: 11;
    left: 160px;
}

.option[aria-selected="true"] {
    border: none;
}